
.col.carouselcol {
    padding: 0;
}

.row.carouselrow {
    margin-top: 35px;
}

.carousel-inner img {
    width: 100%;
    height: 500px;
}

.carousel-inner {
    height: 100%;
}

.contactrow {
    height: 250px;
}

.contactcol {
    display: flex;
    flex-direction: column;
    align-content: center;
}

    .contactcol p {
        margin-top: 45px;
    }

    .contactcol i {
        margin-bottom: 10px;
    }

    .contactcol #usrform {
        margin-top: 45px;
    }

p.locp {
    font-size: 12px;
}

#buttonloc {
    background-color: #474e5d;
    color: white;
}

#button3 {
    background-color: #474e5d;
    color: white;
    width: 75px;
    margin-top: 10px;
    margin-left: 550px;
}

input#fname {
    width: 304px;
    margin-right: 25px;
}

input#email {
    width: 304px;
}

.lochead {
    padding-top: 25px;
    font-size: 21px;
}

p.locimg {
    background-color: #474e5d;
    color: white;
    height: 50px;
    width: 150px;
    padding-top: 10px;
    opacity: .9;
}



/*=====================*/

.carousel-item {
    /*background-image: url('images/LuckyNumbers1.jpg');*/
    /*background-image: url('https://placeimg.com/1366/480/nature');*/
    background-size: cover;
    background-position: center;
    height: 480px;
}

#pic1 {
    background-image: url('images/LuckyNumbers1.jpg');
}

#pic2 {
    background-image: url('images/LuckyNumbers2 (2).jpg');
    height: 480px;
}